<div class="footer">
    <div class="float-right">
        @*Support: asutp36@gmail.com, 8-800-123-45-67*@
        Support: asutp36@gmail.com
    </div>
    <div>
        <strong>Copyright</strong> ASU &copy; 2020
    </div>
</div>
