@model IEnumerable<Inspinia_MVC5.Models.GetFinanceList_Result>

<table id="table-finance" class="table table-striped table-bordered table-hover table_incashwashes">
    <thead>
        <tr>
            <th></th>
            <th>Устройство</th>
            <th>Дата</th>
            <th>Тип операции</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        @{var counter = 1; }
        @foreach (var m in Model)
        {
            <tr>
                <td>@counter</td>
                <td>Макет</td>
                <td>@m.DTime</td>
                <td>@m.Name</td>
                <td>@m.Amount</td>
            </tr>
            counter++;
        }
    </tbody>
</table>

