@{
    ViewBag.Title = "События на разменнике";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>События на разменнике</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Сводка</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>События на разменнике</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="ibox-content m-b-sm border-bottom">
    <div class="middle-box text-center animated fadeInDown">
        <h4>Отсутствуют доступные разменники</h4>
    </div>
</div>
