@model string

    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
        @Model <br />
        Для устранения причины ошибки обращайтесь по телефону - *телефон* или по электронной почте
        <a class="alert-link" href="#">asutp36@gmail.com</a>!
    </div>

@*<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Internal Server Error</h3>

        <div class="error-desc">
            @Model <br />
            Для устранения причины ошибки обращайтесь по телефону - *телефон* или по электронной почте *email*!
        </div>
    </div>

</body>*@
