<table id="table-increases" class="display table table-striped table-bordered table-hover responsive">
    <thead>
        <tr>
            <th>Дата отправки</th>
            <th>Логин администратора</th>
            <th>Сумма</th>
            <th>Регион</th>
            <th>Мойка</th>
            <th>Пост</th>
        </tr>
    </thead>
    <tbody id="table-c"></tbody>
</table>
