@model Inspinia_MVC5.Models.Post

<div class="ibox ">
    <div class="ibox-title">
        <h2>@Model.Wash.Region.Name/@Model.Wash.Name/<strong>Пост @Model.Name</strong></h2>
    </div>
    <div class="ibox-content">
        @Model.Code
    </div>
</div>

<script>
    setTimeout(show, 100);
</script>