@model int

<div class="ibox ">
    <div class="ibox-title">
        @*<h2>Регион: @Model.Wash.Region.Name --> Мойка: @Model.Wash.Name --> <strong>Пост: @Model.Name</strong></h2>*@
    </div>
    <div class="ibox-content">
        @Model
        @*@DateTime.Now.ToString("hh.mm.ss.ffffff");*@

    </div>
</div>

<script>
    setTimeout(show, 100);
</script>