<table id="table-crd" class="table table-striped table-bordered table-hover table_incashwashes">
    <thead>
        <tr>
            <th>Дата отправки</th>
            <th>Телефон</th>
            <th>Текст</th>
            <th>Статус отправки</th>
        </tr>
    </thead>
    <tbody id="table-c">
        
    </tbody>
</table>

