<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <!-- Общее -->
        <add key="smsSender0" value="EcoZukova55"/>
      <!--79050493285-1571938869@g.us,-->
        <add key="smsRecipients0" value="79507744415@c.us"/>
        <!-- Оповещения разработчиков -->
        <add key="smsSender9" value="EcoZukova55"/>
        <add key="smsRecipients9" value="79050493285-1571938869@g.us, 79507744415@c.us"/>

        <!-- М1-Волгоград-Жукова-->
        <!-- Техническая информация -->
        <add key="smsSender11" value="EcoZukova55"/>
        <add key="smsRecipients11" value="79050493285-1571938869@g.us, 79507744415@c.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender12" value="EcoZukova55"/>
        <add key="smsRecipients12" value="79050493285-1571938869@g.us, 79507744415@c.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender13" value="EcoZukova55"/>
        <add key="smsRecipients13" value="79050493285-1571938869@g.us, 79507744415@c.us"/>

        <!-- М2-Волжский-Ленина -->
        <!-- Техническая информация -->
        <add key="smsSender21" value="EcoZukova55"/>
        <add key="smsRecipients21" value="79050493285-1571938869@g.us, 79202131085@c.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender22" value="EcoZukova55"/>
        <add key="smsRecipients22" value="79050493285-1571938869@g.us, 79202131085@c.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender23" value="EcoZukova55"/>
        <add key="smsRecipients23" value="79050493285-1571938869@g.us, 79202131085@c.us"/>

        <!-- М3-Курск-Малых -->
        <!-- Техническая информация -->
        <add key="smsSender31" value="EcoZukova55"/>
        <add key="smsRecipients31" value="79202131085@c.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender32" value="EcoZukova55"/>
        <add key="smsRecipients32" value="79202131085@c.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender33" value="EcoZukova55"/>
        <add key="smsRecipients33" value="79202131085@c.us"/>
        <!-- Открытие замков, снятие кассеты -->
        <add key="smsSender34" value="EcoZukova55"/>
        <add key="smsRecipients34" value="79202131085@c.us"/>

        <!-- М4-Губкин-Космонавтов-->
        <!-- Техническая информация -->
        <add key="smsSender41" value="EcoZukova55"/>
        <add key="smsRecipients41" value="79507744415@c.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender42" value="EcoZukova55"/>
        <add key="smsRecipients42" value="79507744415@c.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender43" value="EcoZukova55"/>
        <add key="smsRecipients43" value="79507744415@c.us"/>

        <!-- М5-СтарыйОскол-Угарова-->
        <!-- Техническая информация -->
        <add key="smsSender51" value="EcoZukova55"/>
        <add key="smsRecipients51" value="79507744415@c.us, 79050493285-1571938869@g.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender52" value="EcoZukova55"/>
        <add key="smsRecipients52" value="79507744415@c.us, 79050493285-1571938869@g.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender53" value="EcoZukova55"/>
        <add key="smsRecipients53" value="79507744415@c.us, 79050493285-1571938869@g.us"/>

        <!-- М6-Волгоград-30-летия Победы-->
        <!-- Техническая информация -->
        <add key="smsSender61" value="EcoZukova55"/>
        <add key="smsRecipients61" value="79202131085@c.us, 79050493285-1571938869@g.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender62" value="EcoZukova55"/>
        <add key="smsRecipients62" value="79202131085@c.us, 79050493285-1571938869@g.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender63" value="EcoZukova55"/>
        <add key="smsRecipients63" value="79202131085@c.us, 79050493285-1571938869@g.us"/>

        <!-- М7-Волгоград-Фруктовая-->
        <!-- Техническая информация -->
        <add key="smsSender71" value="EcoZukova55"/>
        <add key="smsRecipients71" value="79050493285-1571938869@g.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender72" value="EcoZukova55"/>
        <add key="smsRecipients72" value="79050493285-1571938869@g.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender73" value="EcoZukova55"/>
        <add key="smsRecipients73" value="79050493285-1571938869@g.us"/>

        <!-- М8-Мичуринск-Автозаводская-->
        <!-- Техническая информация -->
        <add key="smsSender81" value="EcoZukova55"/>
        <add key="smsRecipients81" value="79050493285-1571938869@g.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender82" value="EcoZukova55"/>
        <add key="smsRecipients82" value="79050493285-1571938869@g.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender83" value="EcoZukova55"/>
        <add key="smsRecipients83" value="79050493285-1571938869@g.us"/>

        <!-- М9-Мичуринск-Советская-->
        <!-- Техническая информация -->
        <add key="smsSender91" value="EcoZukova55"/>
        <add key="smsRecipients91" value="79050493285-1571938869@g.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender92" value="EcoZukova55"/>
        <add key="smsRecipients92" value="79050493285-1571938869@g.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender93" value="EcoZukova55"/>
        <add key="smsRecipients93" value="79050493285-1571938869@g.us"/>

        <!-- М10-Курск-Пучковка -->
        <!-- Техническая информация -->
        <add key="smsSender101" value="EcoZukova55"/>
        <add key="smsRecipients101" value="79050493285-1571938869@g.us"/>
    <!--    <add key="smsRecipients101" value="79606796700, 79606799040"/> -->
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender102" value="EcoZukova55"/>
        <add key="smsRecipients102" value="79050493285-1571938869@g.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender103" value="EcoZukova55"/>
        <add key="smsRecipients103" value="79050493285-1571938869@g.us"/>

        <!-- М11-Железногорск-Ветеринарный-->
        <!-- Техническая информация -->
        <add key="smsSender111" value="EcoZukova55"/>
        <add key="smsRecipients111" value="79050493285-1571938869@g.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender112" value="EcoZukova55"/>
        <add key="smsRecipients112" value="79050493285-1571938869@g.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender113" value="EcoZukova55"/>
        <add key="smsRecipients113" value="79050493285-1571938869@g.us"/>

        <!-- М12-Волгоград-Алехина-->
        <!-- Техническая информация -->
        <add key="smsSender121" value="EcoZukova55"/>
    <!--    <add key="smsRecipients121" value="79525563608, 79202131085"/>-->
        <add key="smsRecipients121" value="79050493285-1571938869@g.us"/>
        <!-- Сменные и финансовые показатели -->
        <add key="smsSender122" value="EcoZukova55"/>
        <add key="smsRecipients122" value="79050493285-1571938869@g.us"/>
        <!-- Количественная информация по инкассированным купюрам -->
        <add key="smsSender123" value="EcoZukova55"/>
        <add key="smsRecipients123" value="79050493285-1571938869@g.us"/>

        <!-- Логгирование -->
        <add key="logFolder" value="SendSmsLogs\"/>
        <add key="loggingRun" value="true"/>
      </appSettings>
        <log4net>
            <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
              <param name="File" value="Logs\Debug.log"/>
              <param name="AppendToFile" value="true"/>
              <maxSizeRollBackups value="10"/>
              <maximumFileSize value="5MB"/>
              <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
              <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%d  %-5p %m%n"/>
              </layout>

            </appender>
            <appender name="ErrorFile" type="log4net.Appender.RollingFileAppender">
              <file value="Logs\Error.log"/>
              <appendToFile value="true"/>
              <maximumFileSize value="5MB"/>
              <maxSizeRollBackups value="10"/>
              <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d %level %thread %logger - %message%newline"/>
              </layout>
              <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="ERROR"/>
                <levelMax value="FATAL"/>
              </filter>
            </appender>

            <logger name="LOGGER">
              <appender-ref ref="LogFileAppender"/>
              <appender-ref ref="ErrorFile"/>
            </logger>
          </log4net>
</configuration>